:root {
  font-family: sans-serif;
  color: white;
}

:root {
  // transitions
  --transition: 150ms;
  // colors
  --blue: #005FFB;
  --blue2: #3583ff;
  // breakpoints
  --mobile: 1000;
  //z-index
  --sidebarZIndex: 1;
  --contentZIndex: 0;
  // dimensions
  --sidebarW: 300px;
  --sidebarH: 100vh;
  --bodyMaxW: 1000px;
  --bodyMargin: 2rem;
  --bodyW: calc(min(100%, var(--bodyMaxW)) - (var(--bodyMargin) * 2));
}

.collapse {
  --sidebarW: 100px;

  @media (max-width: 1000px) {
    --sidebarW: 300px;

    .sidebar {
      left: -100% !important;
    }
  }
}


.layout {
  display: flex;

  // dimensions
  --contentW: calc(100% - var(--sidebarW));
  --blankMargin: var(--sidebarW);

  @media (max-width: 1000px) {
    --contentW: 100%;
    --blankMargin: 0;
  }

  * {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .title {
    padding: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }

  .sidebar {
    z-index: var(--sidebarZIndex);
    background-color: var(--blue);
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebarW);
    height: var(--sidebarH);
    transition: var(--transition);
    box-shadow: 2px 0 4px 0px rgba(0, 0, 0, 0.2);
  }

  .content {
    z-index: var(--contentZIndex);
    gap: 0;
    width: var(--contentW);
    margin-left: var(--blankMargin);
    transition: var(--transition);
    min-height: 100vh;

    .header {
      background-color: var(--blue2);
      position: sticky;
      top: 0;
      width: 100%;

      button {
        position: absolute;
        left: 1rem;
      }
    }

    .body {
      background-color: var(--blue);
      width: var(--bodyW);
      flex: 1;
      margin: var(--bodyMargin);
    }
  }
}